package-lock.json
/node_modules/
/resources/buffer/
/db/SQLqueries
settings.json
debug.log
readme.todo
/resources/conf
.idea
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
config.bat
