<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/styles/auth/sass/auth.css">
    <link rel="shortcut icon" href="/resources/images/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="auth-wrapper">
        <div class="auth">
            <div class="auth-title">Авторизація</div>
            <div class="message">
                <% if ( messages.error ) { %>
                    <%= messages.error %>
                <% } %>
            </div>
            <form method="POST" action="/login">
                <label>
                    <p>Username</p>
                    <input type="text" name="username" required>
                </label>
                <label>
                    <p>Password</p>
                    <input type="password" name="password" required>
                </label>
                <div><input type="submit" value="Login"></div>
            </form>
            <a href="/register">Registration</a>
        </div>
    </div>
</body>
</html>