.modal-wrapper {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease 0.5s;
}
.modal-wrapper .modal {
  position: relative;
  background-color: rgb(47, 45, 51);
  margin: 20vh auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  width: 50vw;
  color: white;
  border-radius: 20px;
  filter: blur(15px);
  transition: all ease 0.3s;
}
.modal-wrapper .modal .modal-title {
  padding-bottom: 2vh;
  font-size: 4vh;
}
.modal-wrapper .modal form {
  font-size: 2vh;
}
.modal-wrapper .modal form input[type=text], .modal-wrapper .modal form input[type=number], .modal-wrapper .modal form input[type=password] {
  background-color: black;
  padding: 1vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 25%;
  outline: none;
  font-size: 2vh;
  color: orange;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  transition: all ease 0.3s;
}
.modal-wrapper .modal form input[type=text]::-webkit-inner-spin-button, .modal-wrapper .modal form input[type=number]::-webkit-inner-spin-button, .modal-wrapper .modal form input[type=password]::-webkit-inner-spin-button {
  display: none;
}
.modal-wrapper .modal form input[type=text]::-moz-selection, .modal-wrapper .modal form input[type=number]::-moz-selection, .modal-wrapper .modal form input[type=password]::-moz-selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form input[type=text]::selection, .modal-wrapper .modal form input[type=number]::selection, .modal-wrapper .modal form input[type=password]::selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form input[type=text]:focus, .modal-wrapper .modal form input[type=number]:focus, .modal-wrapper .modal form input[type=password]:focus {
  border-color: orange;
  box-shadow: 0 0 5px orange;
  width: 50%;
}
.modal-wrapper .modal form input[type=date] {
  background-color: black;
  padding: 1vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 25%;
  outline: none;
  font-size: 2vh;
  color: orange;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  transition: all ease 0.3s;
}
.modal-wrapper .modal form input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.modal-wrapper .modal form input[type=date]::-moz-selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form input[type=date]::selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form label.file {
  text-decoration: underline;
  cursor: pointer;
  transition: all ease 0.3s;
}
.modal-wrapper .modal form label.file:hover {
  color: orange;
}
.modal-wrapper .modal form input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.modal-wrapper .modal form input[type=checkbox] {
  height: 20px;
  width: 20px;
}
.modal-wrapper .modal form select {
  background-color: black;
  padding: 1vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 25%;
  outline: none;
  font-size: 2vh;
  color: orange;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  transition: all ease 0.3s;
}
.modal-wrapper .modal form select::-webkit-inner-spin-button {
  display: none;
}
.modal-wrapper .modal form select::-moz-selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form select::selection {
  background-color: rgba(255, 166, 0, 0.507);
}
.modal-wrapper .modal form select:focus {
  border-color: orange;
  box-shadow: 0 0 5px orange;
}
.modal-wrapper .modal form input[type=submit], .modal-wrapper .modal form div.submit {
  background-color: black;
  padding: 1vh 3vh 1vh 3vh;
  margin: 2vh auto;
  width: 20%;
  color: white;
  font-size: 2vh;
  border: 2px solid black;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}
.modal-wrapper .modal form input[type=submit]:hover, .modal-wrapper .modal form div.submit:hover {
  background-color: black;
  color: orange;
  border-color: orange;
}
.modal-wrapper .modal .close-modal {
  position: absolute;
  background-image: url(/resources/images/close.png);
  background-size: contain;
  top: 5vmin;
  right: 3vmin;
  height: 5vmin;
  width: 5vmin;
  cursor: pointer;
  transition: all ease 0.3s;
}
.modal-wrapper .modal .close-modal:hover {
  transform: scale(1.1);
}

.show-modal {
  z-index: 10;
  visibility: visible !important;
  opacity: 1 !important;
}
.show-modal .modal {
  filter: blur(0px);
}/*# sourceMappingURL=modal.css.map */