* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }
}

body {
    // background-color: rgb(126, 159, 248);
    background-image: url(/resources/images/profile/background/3.jpg);

    @media screen and (min-width: 1921px) {
        background-size: cover;
    }

    font-family: corbel;
}

.profile-username {
    margin: 4vmax 0vmax 0vmax 2vmax;
    
    padding-top: 5%;
    padding-left: 5%;
        
    color: orange;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}

.profile-userrole {
    margin: 0.5vmax 0vmax 0vmax 2vmax;

    // padding-top: 5%;
    padding-left: 5%;

    color: rgb(100, 100, 100);
    font-size: 1.5em;
    font-weight: none;
}

.content-wrapper {
    position: absolute;

    // background-color: rgba(khaki, 0.5);

    height: 100%;
    width: 100%;

    // График
    .chartis-wrapper {
        background-color: rgba(255, 255, 255, 0.7);

        padding-top: 2%;
        padding-bottom: 2%;

        margin: 10vh auto;

        height: 50vh;
        max-width: 70vw;

        border: 1px solid black;
        border-radius: 10px;

        color: black;

        .chartis-title {
            text-align: center;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 3vmin;
        }

        .ct-chart {
            max-height: 100%;
            height: inherit;
            max-width: inherit;
        }

        .ct-perfect-fourth:before, .ct-perfect-fourth:after {
            display: none !important;
        }

        .ct-chart .ct-label.ct-horizontal, .ct-chart .ct-label.ct-vertical {
            color: black;
            font-size: 2vh;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    
}