@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
}

header #logo {
  text-align: center;
  max-height: 20vh;
}

@media screen and (min-width: 1600px) {
  header #logo {
    max-height: 30vh;
  }
}

@media screen and (min-width: 1900px) {
  header #logo {
    max-height: 25vh;
  }
}

@media screen and (min-width: 481px) {
  header #logo {
    width: 20%;
  }
}

header #logo img {
  max-height: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  header #logo img {
    width: 100px;
    height: 100px;
  }
}

header #title {
  text-align: center;
  min-height: inherit;
  font-family: exo2;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 481px) {
  header #title {
    width: 80%;
  }
}

header #title #td1 {
  border-radius: 1rem 1rem 0 0;
  position: relative;
}

header #title > :nth-child(1) {
  background-color: #003e7b;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: left;
  font-size: 1.8vw;
  color: white;
  letter-spacing: 0.35rem;
}

@media screen and (max-width: 480px) {
  header #title > :nth-child(1) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media screen and (min-width: 1900px) {
  header #title > :nth-child(1) {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 480px) {
  header #title > :nth-child(1) {
    text-align: center;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1900px) {
  header #title > :nth-child(1) {
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 480px) {
  header #title > :nth-child(1) {
    letter-spacing: 0.2rem;
  }
}

header #title > :nth-child(2) {
  background-color: #fcd605;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
  font-size: 1.7vw;
  color: black;
  letter-spacing: 0.3rem;
}

@media screen and (min-width: 1800px) {
  header #title > :nth-child(2) {
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 2200px) {
  header #title > :nth-child(2) {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 480px) {
  header #title > :nth-child(2) {
    text-align: center;
    font-size: 9vw;
  }
}

@media screen and (max-width: 480px) {
  header #title > :nth-child(2) {
    letter-spacing: 0.1rem;
  }
}

@font-face {
  font-family: exo2;
  /* Идентификатор шрифта */
  src: url(../../fonts/exo2/exo2medium.ttf);
  /* Путь к файлу со шрифтом */
}

@media screen and (max-width: 480px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header #title {
    max-height: 50%;
  }
  header #title :nth-child(2) {
    font-size: 2vw;
    letter-spacing: 2;
  }
}

@media screen and (max-width: 480px) and (min-width: 1900px) {
  header #title :nth-child(2) {
    font-size: 1vw;
  }
}

@media screen and (max-width: 480px) and (min-width: 1900px) {
  header #title :nth-child(2) {
    letter-spacing: 1;
  }
}

@media screen and (max-width: 480px) and (max-width: 480px) {
  header #title :nth-child(2) {
    font-size: 3vw;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 320px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40%;
  }
  header #title {
    max-height: 40%;
  }
  header #title :nth-child(1) {
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 320px) and (min-width: 1900px) {
  header #title :nth-child(1) {
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 320px) {
  header #title :nth-child(2) {
    font-size: 3vw;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 320px) and (min-width: 1900px) {
  header #title :nth-child(2) {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=header.css.map */
.small-button {
  padding: 5px; /* Регулируйте размеры кнопки здесь */
  border: none;
  background-color: #003e7b;
  position:absolute; top: 18px; right: 5%;
}

.icon {
  width: 30px; /* Регулируйте размер иконки здесь */
  height: 30px;
}


/* Добавьте другие стили по необходимости */
.hidden {
  display: none;
}

#searchContainer {
  text-align: center;
  margin-top: 20px;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}

#searchInput {
  position: relative;
  padding: 10px; /* Регулируйте внутренний отступ для текстового поля */
  border: 2px solid #ccc; /* Стиль рамки */
  border-radius: 12px; /* Скругление углов */
  font-size: 16px; /* Размер шрифта */
  width: 85%; /* Установите ширину строки поиска в 70% от родительского контейнера */
  outline: none; /* Убрать рамку при фокусе */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; /* Вертикальное выравнивание по центру */
}


