<div class="settings-wrapper">
    <div class="settings-title">2FA</div>
    <ul class="settings-list">
        <li>
            <div class="option-subtitle">2FA (двух-факторна аутідентифікація)</div>
            <div class="option-text">
                <p>Щоб керувати 2FA, використовуйте бота в Telegram: <a href="http://t.me/KKNAUbot">t.me/KKNAUbot</a></p>
                <p>Ваш унікальний токен для управління 2FA:</p>
                <p class="token2FA"><%= user.telegramSecret %></p>
                <p>"/enable ВАШ_ТОКЕН" - підключення.</p>
                <p>"/disable ВАШ_ТОКЕН" - відключення.</p>
            </div>
        </li>
    </ul>
</div>