<div class="subjects-wrapper">
    <div id="add-subject" class="icons-wrapper">
        <img src="/resources/images/profile/icons/add.png" alt="add-subject">
    </div>
    <table class="subjects">
        <tr>
            <td>№</td>
            <td>Title</td>
            <td>Id</td>
        </tr>
        <% for(var i = 0; i < subjects.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= subject[i].title %>
                    <div class="icons-wrapper">
                        <div>
                            <div>
                                <img src="/resources/images/profile/icons/edit.png" alt="edit-subject">
                            </div>
                            <div>
                                <img src="/resources/images/profile/icons/delete.png" alt="delete-subject">
                            </div>
                        </div>
                    </div>
                </td>
                <td><%= subjects[i].id %></td>
            </tr> 
        <% } %>
    </table>
    <script src="/resources/scripts/profile/moderator/subject.js"></script>
</div>