<!-- HEADER -->
<header id="header">
    <div id="logo"><a href="/"><img src="/resources/images/logo.png" alt="logo" /></a></div>
    <div id="title">
        <div id="td1">
            <div>Відокремлений структурний підрозділ</div>
            <div>"Криворізький фаховий коледж</div>
            <div>Національного авіаційного університету"</div>
            <button id="toggleSearchButton" class="small-button">
                <img src="/resources/images/search.png" alt="Иконка поиска" class="icon">
            </button>
        </div>
        <div>
            SEPARATED STRUCTURAL SUBDIVISION "KRYVYI RIH PROFESSIONAL COLLEGE OF NATIONAL AVIATION
            UNIVERSITY"
        </div>
    </div>
    <div id="searchContainer" class="hidden">
        <input type="text" id="searchInput" class="search-input" placeholder="Введіть запит">
        <button id="searchButton" class="search-button">
            <img src="/resources/images/search.png" alt="Иконка поиска" class="icon">
        </button>
    </div>
    <div id="searchResults" class="hidden">
        <!-- Здесь будут отображаться результаты поиска -->
    </div>
</header>
<script src="resources/styles/search.js"></script>
