<!-- HEADER -->
<header>
    <div id="logo"><img src="/resources/images/logo.png" alt="logo"></div>
    <div id="title">
        <div id="td1">Відокремлений структурний підрозділ "Криворізький фаховий коледж НАУ"</div>
        <div>SEPARATED STRUCTURAL SUBDEVISION "KRYVYI RIH PROFESSIONAL COLLEGE OF NATIONAL AVIATION UNIVERSITY"</div>
    </div>
</header>