<!-- HEADER -->
<header>
    <div id="logo"><img src="/resources/images/logo.png" alt="logo"></div>
    <div id="title">
        <!-- <div id="td1">Криворізький коледж</div>
        <div>Національного авіаційного університету</div> -->
        <div id="td1">Відокремлений структурний підрозділ</div>
        <div>Криворізький фаховий коледж НАУ</div>
    </div>
</header>