<!-- HEADER -->
<header id="header">
    <div id="logo"><a href="/"><img src="/resources/images/logo.png" alt="logo" /></a></div>
    <div id="title">
        <div id="td1">
            <div>КРИВОРІЗЬКИЙ ФАХОВИЙ КОЛЕДЖ ДЕРЖАВНОГО</div>
            <div>НЕКОМЕРЦІЙНОГО ПІДПРИЄМСТВА "ДЕРЖАВНИЙ</div>
            <div>УНІВЕРСИТЕТ «КИЇВСЬКИЙ АВІАЦІЙНИЙ ІНСТИТУТ"</div>
        </div>
        <div>KRYVYI RIH PROFESSIONAL COLLEGE OF STATE </div>
        <div>NON-COMMERCIAL COMPANY «STATE UNIVERSITY «KYIV AVIATION INSTITUTE»</div>
        
    </div>  
</header>
