<!-- HEADER -->
<header id="header">
    <div id="logo"><a href="/"><img src="/resources/images/logo.png" alt="logo" /></a></div>
    <div id="title">
        <div id="td1">
            <div>Відокремлений структурний підрозділ</div>
            <div>"Криворізький фаховий коледж</div>
            <div>Національного авіаційного університету"</div>
        </div>
        <div>
            SEPARATED STRUCTURAL SUBDIVISION "KRYVYI RIH PROFESSIONAL COLLEGE OF NATIONAL AVIATION
            UNIVERSITY"
        </div>
    </div>
</header>
