<!-- HEADER -->
<header>
    <div id="logo"><img src="/resources/images/logo.png" alt="logo"></div>
    <!-- <table id="title">
        <tr><td id="td1">Криворізький коледж</td></tr>
        <tr><td>Національного авіаційного університету</td></tr>
    </table> -->
    <div id="title">
        <div id="td1">Криворізький коледж</div>
        <div>Національного авіаційного університету</div>
    </div>
</header>