<div id="toggleSearchButton" class="toggle-search-button">
    <img src="/resources/images/search.png" alt="Иконка поиска" class="icon">
</div>
<div class="search-wrapper fixed hidden">
    <div class="relative">
        <div id="searchContainer">
            <input type="text" id="searchInput" style="padding-right: 50px" class="search-input" placeholder="Введіть запит для пошуку">
<!--            <img src="/resources/images/search.png" style="transform: translateX(-150%); background: white;" alt="Іконка пошуку" class="icon">-->
        </div>
        <div id="searchResults"></div>
    </div>
</div>
<script src="resources/styles/search.js"></script>