<div id="searchContainer" class="hidden">
    <input type="text" id="searchInput" class="search-input" placeholder="Введіть запит">
    <button id="searchButton" class="search-button">
        <img src="/resources/images/search-.png" alt="Иконка поиска" class="icon">
    </button>
</div>
<div id="searchResults" class="hidden">
    <!-- Здесь будут отображаться результаты поиска -->
</div>
<script src="resources/styles/index/search.js"></script>