<div class="desk useful-links-block">
    <div class="horizontal-ribbon"><div class="desk-title">Корисні посилання</div></div>
    <!-- <div class="ribbon"></div>  -->
    <div class="userful-link"><a href="https://www.president.gov.ua/"><img src="/resources/images/useful-links/president.gif" alt="Президент України"></a></div>
    <div class="userful-link"><a href="https://www.kmu.gov.ua/"><img src="/resources/images/useful-links/uryadoviy-portal.gif" alt="Урядовий портал"></a></div>
    <div class="userful-link"><a href="https://rada.gov.ua/"><img src="/resources/images/useful-links/rada.gif" alt="Верховна Рада України"></a></div>
    <div class="userful-link"><a href="https://mon.gov.ua/ua"><img src="/resources/images/useful-links/ministerstvo-osviti.jpg" alt="Міністерство освіти і науки України"></a></div>
    <div class="userful-link"><a href="https://play.google.com/store/apps/details?id=com.example33.admin.fragment8"><img src="/resources/images/useful-links/rozkladKKNAU.png" alt="Розклад КК НАУ"></a></div>
</div>