@import '../../sass/variables.scss';

#CONTENT {
    // background-color: #fff8e6;

    margin-left: $defaultPaddingLeft - 1;
    margin-right: $defaultPaddingRight - 1;
    margin-bottom: $defaultPaddingLeft - 1;
    
    @media screen and (max-width: 480px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.contact-text {
    margin: 5%;
    font-weight: none !important;
    
    p {
        margin-left: 30px;
    }
}

.map-wrapper {
    @media screen and (min-width: 481px) {
        margin: 0 20% 0 15%;
    }
    padding-top: $defaultPaddingLeft - 1;
    padding-bottom: $defaultPaddingLeft - 1;

    #mapid {
        z-index: 0;
        height: 300px;

        // border-radius: 30px;
    }
}