@import '../../sass/variables.scss';

.desk-wrapper {
    &>:first-child {
        flex: 3;

        img {
            margin-top: 2%;
            margin-bottom: 2%;

            max-width: 70%;
            max-height: 90vh;
        }

        .desk-title {
            margin-left: 5%;
        }
    }
    &>:last-child {
        flex: 1;

        padding: 0% 1% 0% 1%;

        .desk {
            position: relative;

            padding: 15% 2% 10% 2%;
            margin-bottom: 2vmax;
            @media screen and (min-width: 1900px) {
                margin-bottom: 1.2vmax;
            }

            .desk-title {
                color: white;
                font-size: 1.3vw;
                @media screen and (min-width: 1900px) {
                    font-size: 1vw;
                }
                @media screen and (max-width: 480px) {
                    font-size: 5vw;
                }
                // text-decoration: underline;
            }
        }
    }

    .desk {
        .desk-text {
            p {
                font-weight: normal;
                text-indent: 3%;

                text-align: justify;
            }
        
            li {
                list-style-type: disc;
                margin-left: 7%;
            }
        }
    }
}

.current-menu-links-block {
    li {
        list-style-type: disc;

        transition: all ease 0.3s;

        &:hover {
            padding-left: 5%;
        }
    }

    .drop-menu-links {
        margin-left: 10%;

        color: $menuColor;

        a {
            color: $menuColor !important;
        }
    }

    .deep-drop-menu-links {
        margin-left: 15%;

        color: $menuFocusedColor;

        a {
            color: $menuFocusedColor !important;
        }
    }
}

.useful-links-block {
    text-align: center;

    .userful-link {
        margin-bottom: 3%;

        a img {
            width: 55%;
            @media screen and (max-width: 480px) {
                width: 25%;
            }
        }
    }
}

.add-date {
    font-weight: bold; // ? Не работает
}

$horizontalRibbonColor: $menuColor;
$horizontalRibbonSubColor: $menuFocusedColor;
$horizontalRibbonWidth: 18vw;
.horizontal-ribbon {
    position: absolute;
    
    background-color: $horizontalRibbonColor;

    // padding-top: 1%;
    // padding-bottom: 1%;

    width: $horizontalRibbonWidth;
    max-width: 270px;
    // height: 100px;
    @media screen and (max-width: 480px) {
        width: 90vh;
    }

    top: 10px;
    right: -15px;
    @media screen and (max-width: 480px) {
        right: -10px;
    }

    &:before {
        content: "";
        position: absolute;

        top: 0;
        right: $horizontalRibbonWidth - 0.6vw;
        @media screen and (min-width: 1600px) {
            right: 270px;
        }
        @media screen and (min-width: 1900px) {
            right: 270px;
        }

        @media screen and (max-width: 480px) {
            right: 65vw;
        }
        @media screen and (max-width: 360px) {
            right: 70vw;
        }

        border-left: 20px solid transparent;
        border-right: 20px solid $horizontalRibbonColor;
        border-top: 13.5px solid $horizontalRibbonColor;
        border-bottom: 13px solid $horizontalRibbonColor;
        @media screen and (min-width: 1600px) {
            border-top: 16px solid $horizontalRibbonColor;
            border-bottom: 17px solid $horizontalRibbonColor;
        }
        @media screen and (min-width: 1900px) {
            border-top: 17px solid $horizontalRibbonColor;
            border-bottom: 17px solid $horizontalRibbonColor;
        }

        @media screen and (max-width: 360px) {
            border-top: 12px solid $horizontalRibbonColor;
            border-bottom: 12px solid $horizontalRibbonColor;
        }
    }

    &:after {
        z-index: -2;

        content: "";
        position: absolute;
                    
        top: 99%;
        right: 0px;

        border-right: 1vw solid transparent;//1.15vw solid $horizontalRibbonSubColor;
        border-top: 1vw solid $horizontalRibbonSubColor;//0.9vw solid $horizontalRibbonSubColor;
        @media screen and (max-width: 480px) {
            border-right: 5vw solid transparent;
            border-top: 5vw solid $horizontalRibbonSubColor;
        }
    }
}

.news-links-block {
    li {
        margin-left: 10%;

        list-style-type: disc;

        transition: all ease 0.3s;

        color: $menuColor;

        a {
            color: $menuColor !important;
        }

        &:hover {
            // padding-left: 5%;
            color: $menuFocusedColor;

            a {
                color: $menuFocusedColor !important;
                text-decoration: underline !important;
            }
        }

        
    }
}